@using SyncSenpai.Ani.Entities
@using SyncSenpai.Ani.Services
@using SyncSenpai.Sonarr.Entities
@using SyncSenpai.Sonarr.Services

@inject SonarrService SonarrService
@inject IAniService AniService

<h3>Request Series</h3>

<div>Request for: @_watchListEntry.AniListTitle</div>
<div>Series Title: @_lookupResponse.Title</div>
<br/>
@foreach(var season in _lookupResponse.Seasons)
{
    <InputCheckbox @oninput="x=>CheckSeason(x, season.SeasonNumber)">Season @season.SeasonNumber</InputCheckbox>
}

@code {

    public WatchListEntry? _watchListEntry { get; set; }
    private LookupResponse? _lookupResponse;
    private ConfigModel? _configModel;

    private List<int> _watchedSeasons = [];

    protected override async Task OnInitializedAsync()
    {
        _configModel = await AniService.GetConfigAsync();
    }

    public async Task SetWatchListEntry(WatchListEntry watchListEntry)
    {
        _watchListEntry = watchListEntry;
        _lookupResponse = await SonarrService.LookupSeriesAsync(_watchListEntry.TvDbId);
        _watchedSeasons.Clear();
    }

    private void CheckSeason(ChangeEventArgs args, int seasonNumber)
    {
        if ((bool)args.Value) _watchedSeasons.Add(seasonNumber);
        else _watchedSeasons.Remove(seasonNumber);
    }

    private async Task RequestSeries()
    {
        SonarrRequest request = new()
        {
             QualityProfileId=_configModel.
        };
        SonarrService.RequestSeries(request);
    }
}
