@page "/counter"
@using Marten
@rendermode InteractiveServer

@inject IDocumentStore DocumentStore;
@inject ILogger<Counter> logger

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>
<span>Saved Id: @SavedGuid</span>
<span>Loaded Id: @LoadedGuid</span>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private Guid SavedGuid;
    private Guid LoadedGuid;

    private async void IncrementCount()
    {
        currentCount++;

        try
        {
            var test = new Test();

            await using var session = DocumentStore.LightweightSession();

            Console.WriteLine($"Created entity {test.Id}");

            SavedGuid = test.Id;

            session.Store(test);

            await session.SaveChangesAsync();

            await using var querySession = DocumentStore.QuerySession();

            var retrieved = await querySession.Query<Test>().FirstOrDefaultAsync(x => x.Id == test.Id);

            Console.WriteLine($"Created entity {retrieved!.Id}");

            LoadedGuid = retrieved.Id;

            StateHasChanged();
        }
        catch (Exception ex)
        {
            logger.LogInformation(ex.Message);
            Console.WriteLine(ex.Message);
            throw;
        }
    }

    public class Test
    {
        public Guid Id { get; set; } = Guid.NewGuid();
    }
}
