@page "/pending"
@using SyncSenpai.Ani.Entities
@using SyncSenpai.Ani.Services

@inject IAniService AniService

<h3>Pending Watch List Entries</h3>

@foreach (var entry in _watchListEntries)
{
    <div>
        <span>@entry.AniListTitle</span>
    </div>
    <button @onclick="x=>RequestSeries(entry)">Request</button>
    <br />
}


@code {
    private List<WatchListEntry> _watchListEntries = [];
    private ConfigModel? _configModel;

    protected override async Task OnInitializedAsync()
    {
        _watchListEntries = await AniService.GetPendingEntriesAsync();
        _configModel = await AniService.GetConfigAsync();
    }
    private void RequestSeries(WatchListEntry watchListEntry)
    {

    }
}
